<nav>
    <div>
        <h1 class="c-main-title">
            <a href="/">NODE BLOG</a>
        </h1>
    </div>
    <div class="c-nav-container">
        <a class="c-nav-tab" href="/">Home</a>
        <a class="c-nav-tab" href="/about">About</a>
        <a class="c-nav-tab" href="/blogs/create">New Blog</a>
    </div>
</nav>